* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.board {
	margin: 2rem auto;
	width: 70vmin;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	background: brown;
}

.grey {
	background: grey;
}

.white {
	background: whitesmoke;
}

.cell {
	aspect-ratio: 1 / 1;
	text-align: center;
	position: relative;
}

.cell p {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
}
